
.contact .container {
    width: 896px;
    height: 376px;

display: flex;
    flex-direction: row;
    gap: 20px;
}

.contact__leftside{
    width: 359px;
    height: 376px;
    gap:10px;
}

.contact__rightside{
    width: 440px;
    height: 376px;
    margin-left: 150px;

}

.contact__textmain {
    font-family: "Raleway", sans-serif;
    font-size: 49px;
    width: 350px;
}

.contact__text {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-top: 20px;
}

.mail, .phone__nr {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: var(--color-grey);

}

.mail::before{
    content: url("../assets/Mail Icon.svg");
    margin-right: 5px;
    position: relative;
    top: 8px;
}


.phone__nr::before{
    content: url("../assets/Phone Icon.svg");
    margin-right: 5px;
  position: relative;
    top: 8px;
}

.contact__details{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    gap:15px;
}



.contact__btn {
    width: 226px;
    height: 57px;
    background-color: var(--color-primary);
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 35px;
    border: none;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left:216px;
    margin-top: 20px;
}

button {
    justify-content: center;
    align-items: center;
    display: flex;
}



input[type="checkbox"] {
    display: none;
}

.checkbox-styled {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    color: var(--color-grey);
    text-align: left;
    display: flex;
}

.checkbox-styled::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 2px solid var(--color-grey) ;
    background-color: white;
}

input[type="checkbox"]:checked + .checkbox-styled::before {
    background-color: white;
    border: 2px solid var(--color-grey) ;
    background: url("../assets/Checkmark.svg");
    background-size: cover;
}

.checkbox-styled::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 2px;
    font-size: 18px;
    color: var(--color-primary);
    opacity: 0;
}
input[type="checkbox"]:checked + .checkbox-styled::before + .checkbox-styled::after {
    opacity: 1; /* Pokaż symbol, gdy checkbox jest zaznaczony */
}



.theform {
    width:440px;
    height: 206px;
    margin-top: 5px;
}

label {
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    color: var(--color-primary);
    flex-direction: row;
}

input[type="text"],
input[type="name"],
textarea{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid grey;
    border-left: none;
    border-top: none ;
    border-right: none;
    width: 440px;
    padding: 10px;


}



.one {
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    color: var(--color-primary);
}
