.stats {
    width: 100vw;
}

.container {
    width: 1352px;
}

.stats__maintext {
    color: black;
    font-size: 36px;
    font-family: "Raleway", sans-serif;
    margin-top: 100px;
    text-align: center;
}

.stats__container {
display: flex;
    flex-direction: row;
    margin-bottom: 121px;
    margin-top: 142px;
    justify-content: center;
    gap:100px;
    align-items: center;
    text-align: center;
}

.stats__pic1 {
    width: 116px;
    height: 140px;
}

.stats__pic2 {
    width: 116px;
    text-align: center;
    margin-top: 17px;
}

.stats__pic3 {
    width: 116px;
    text-align: center;
    height: 140px;
}

.stats__circle {
    background-color: var(--color-redish);
    width: 62px;
    height:62px;
    border-radius: 50%;
    margin-left: 20px;
    margin-bottom: 20px;

}

.icon__man {
    position: absolute;
    margin-left: 55px;
    margin-top: 5px;
}

img .stats__icon__man {
    width: 44px;
    height: 52px;
 background-size: cover;
    position: absolute;
}

.icon__eye {
    position: absolute;
    margin-left: 40px;
    margin-top: 10px;
}

.stats__circle2 {
    background-color: var(--color-primary);
    width: 62px;
    height:62px;
    border-radius: 50%;
   margin-bottom: 18px;
    margin-left: 20px;
    padding-bottom: 50px;

}

img .stats__icon__eye {
    width: 44px;
    height: 52px;
    background-size: cover;
    position: absolute;
}

.icon__catalog {
    position: absolute;
    margin-left: 55px;
    margin-top: 5px;
}

.stats__circle3 {
    background-color: var(--color-green);
    width: 62px;
    height:62px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 20px;

}

img .stats__icon__catalog{
    width: 44px;
    height: 52px;
    background-size: cover;
    position: absolute;
}


.stats__number {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;

}



.stats__text__minor {
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    color: var(--color-grey);
margin-top: 20px;
}






