.page__header {
width: 1352px;

}
.page__header .container{
    width: 1352px;
height: 70px;
}

.container {
    width: 1352px;

}

.page__header__nav {
    width: 1352px;
flex-direction: row;
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;
    align-items: center;
    gap: 650px;
    height: 70px;
    display: flex;
    margin-left: 80px;
}

.page__header__logo {
    color: var(--color-primary);
    font-size: 32px;
    font-family: "Raleway", sans-serif;
    display: flex;
    padding-bottom: 5px;
    margin-left: 100px;
}

.page__header__list {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    background-color: transparent;
  align-items: center;
    margin-right: 20px;
}

.page__header__list li {
   text-align: center;
}

.page__header__list a {
    color: var(--color-grey);
    text-decoration: none;
    letter-spacing: 3px;
}

.page__header__list a:hover {
    color: black;
    text-decoration: underline dodgerblue;
    text-decoration-thickness: 5px;
    text-underline-offset: 25px;

}